@import "tailwindcss";

@theme inline {
  /* Challenge Specific Colors */
  --color-neutral-900: hsl(0, 0%, 7%);
  --color-neutral-800: hsl(0, 0%, 15%);
  --color-neutral-500: hsl(240, 3%, 46%);
  --color-neutral-400: hsl(240, 1%, 59%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-blue-600: hsl(214, 100%, 55%);
  --color-blue-400: hsl(210, 100%, 65%);
  --color-red-500: hsl(354, 63%, 57%);
  --color-green-500: hsl(140, 63%, 57%);
  --color-yellow-400: hsl(49, 85%, 70%);

  /* Overriding Shadcn/Default Variables to match design */
  --color-background: var(--color-neutral-900);
  --color-foreground: var(--color-neutral-0);
  --color-card: var(--color-neutral-800);
  --color-primary: var(--color-blue-600);
}

:root {
  /* Default to Dark Theme since the design is dark-only */
  --background: 0 0% 7%;
  --foreground: 0 0% 100%;
  --card: 0 0% 15%;
  --primary: 214 100% 55%;
  --radius: 0.5rem;
}

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-0 antialiased;
    font-size: 16px; /* Body Copy Label size */
  }
}
